/* CTA.css */
.cta-container {
  width: 100%;
  padding-bottom: 1.8rem;
}

.cta-container__wrapper {
  background: linear-gradient(135deg, #333, #4a4a4a, #666, #8c8c8c, #b3b3b3);
  color: white;
  text-align: center;
  padding: 50px 20px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
 
.cta-heading {
  margin-bottom: 20px;
}

.cta-description {
  margin-bottom: 30px;
  max-width: 600px;
  margin: auto;
  line-height: 1.5;
}

.cta-button {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid white;
  padding: 10px 20px;
   border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 0.4s;
  margin-top: 1rem;
  overflow: hidden;
}

.cta-button:hover {
  color: black;
  border: 2px solid white;
   transform: scale(1.05);
}

.cta-button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: white;
  z-index: -1;
  transition: all 0.4s;
}

.cta-button:hover::before {
  width: 160%;
}