/* Favourite countries section*/

.countries-section {
    padding: 40px 0 50px;
    background-color: white;
    /* scroll-snap-type: y mandatory; */
}

.countries-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 30px;
    width: var(--page-width);
    margin: 0 auto;
    justify-content: center;
}
  
.countries-heading{
    padding: 0 20px 0 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.countries-section h1 {
    font-weight: bold; 
    line-height: 0.8;
    letter-spacing: 5px;
    font-size: 58px;
}

.countries-para{
    padding-right: 30px;
    font-size: 18px;
}
.read-less-button{
    display: none;
    cursor: pointer;
    font-weight: 600;
}
.countries-para p{
    margin: 0;
    font-weight: 400;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(67, 67, 67);
}
.read-more-container{
    display: none;
    cursor: pointer;
    font-weight: 600;
}

.countries-images{
    width: var(--page-width);
    margin: 0 auto;
    padding: 30px 30px;
    display: flex;
    animation: slideUp 2s;
    justify-content: space-between;
}


@media (min-width: 1440px) and (max-width: 2559px){
    .countries-para{
     font-size: 15px;  
    }
}

@media (min-width: 1024px) and (max-width: 1439px){
    .countries-content{
        flex-direction: column;
        gap: 25px;
    }

    .countries-content h1{
        margin: 0;
        font-size: 40px;
        letter-spacing: normal;
    }
    .countries-para{
        font-size: 14px; 
        text-align: center;
        margin-bottom: 40px; 
       }
}

@media (min-width: 768px) and (max-width: 1023px){
    .countries-content{
        flex-direction: column;
        gap: 25px;
    }

    .countries-content h1{
        margin: 0;
        font-size: 40px;
        letter-spacing: normal;
    }
    .countries-para{
        font-size: 14px; 
        text-align: center;
        margin-bottom: 40px; 
       }
}


@media (min-width: 425px) and (max-width: 767px){
    .countries-content{
        flex-direction: column;
        gap: 25px;
    }

    .countries-content h1{
        margin: 0;
        text-align: center;
        font-size: 40px;
        letter-spacing: normal;
    }
    .countries-para{
        font-size: 14px; 
        text-align: justify;
        padding-right: 0;
        margin-bottom: 40px; 
    }
    .read-more-container{
        display:inline-block;
    }    
    .further-country-text{
        display: none;
    }
    .countries-images{
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .text-hidden {
        display: none;
      }
      
      .text-visible {
        display: inline;
      }
      
      .text-inline {
        display: inline-block;
      }
      

}

/* mobile medium */

@media (min-width: 375px) and (max-width: 424px){
    .countries-content{
        flex-direction: column;
        gap: 25px;
    }

    .countries-content h1{
        margin: 0;
        text-align: center;
        font-size: 40px;
        letter-spacing: normal;
    }
    .countries-para{
        font-size: 14px; 
        text-align: justify;
        padding-right: 0;
        margin-bottom: 40px; 
    }
    .read-more-container{
        display:inline-block;
    }   
    .further-country-text{
        display: none;
    }
    .countries-images{
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
    .text-hidden {
        display: none;
      }
      
      .text-visible {
        display: inline;
      }
      
      .text-inline {
        display: inline-block;
      }
}

/* mobile medium */

@media (max-width: 374px){
    .countries-content{
        flex-direction: column;
        gap: 25px;
        padding: 0;
    }
    .countries-heading{
        padding: 0;
    }   

    .countries-content h1{
        margin: 0;
        text-align: center;
        font-size: 2em;
        letter-spacing: normal;
    }
    .countries-para{
        font-size: 14px; 
        text-align: justify;
        padding-right: 0;
        margin-bottom: 40px; 
    }
    .read-more-container{
        display:inline-block;
    }   
    .further-country-text{
        display: none;
    }
    .countries-images{
        flex-direction: column;
        gap: 40px;
        padding-left: 0;
        padding-right: 0;
        align-items: center;
    }
    .text-hidden {
        display: none;
      }
      
      .text-visible {
        display: inline;
      }
      
      .text-inline {
        display: inline-block;
      }
}