.countries-section {
    padding: 50px 0;
    background-color: white;
}

.countries-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
  

.countries-section .main-heading {
    padding: 0 20px 0 30px; 
    line-height: 1;
    text-align: center;
    margin-bottom: 2rem;
}

.countries-para{
    padding-right: 30px;
}
.read-less-button{
    display: none;
    cursor: pointer;
    font-weight: 600;
}
.countries-section__wrapper .countries-description{
    margin: 0;
    font-weight: 400;
    text-align: left;
    color: rgb(84, 84, 84);
}
.countries-section__wrapper .read-more-container {
    display: none;
    cursor: pointer;
    font-weight: 600;
}

.countries-images{
    display: flex;
    animation: slideUp 2s;
    justify-content: space-between;
    gap: 30px;
    padding-top: 2rem;
}

@media screen and (max-width: 768px) {
    .countries-images {
        flex-direction: column;
        align-items: center;
    }
    .countries-section__wrapper .read-more-container {
        display: inline;
    }
    .countries-section__wrapper .read-more-container.text-hidden {
        display: none;
    }

    .further-country-text.text-hidden {
        display: none;
    }
    .countries-section__wrapper .read-less-button.text-hidden {
        display: none;
    }
    .countries-section__wrapper .read-less-button.text-inline {
        display: inline;
    }
}