.mission-section {
    width: 100%;
}

.mission__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.mission-cards__wrapper {
    height: 350px;
    display: flex;
    gap: 3px;
    padding: 0.2em;
    position: relative;
}

.mission-gallery {
    width: 50%;
}

.mission-image {
    flex: 1;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: flex 0.4s ease, filter 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.mission-image:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    transition: opacity 0.4s ease;
}

.mission-image-1 {
    background-image: url('../images/vision.png');
}

.mission-image-2 {
    background-image: url('../images/mission.png');
}

.mission-image-3 {
    background-image: url('../images/promise.png');

}

.mission-cards__wrapper .mission-image span {
    min-width: 14em;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.26);
    text-align: center;
    font-family: var(--font-navbrand);
    transform: rotate(-90deg);
    transition: transform 0.4s ease, opacity 0.4s ease;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.1em;
}

.mission-cards__wrapper .mission-image.flex-4 span {
    transform: rotate(0);
    opacity: 0;
}

.mission-cards__wrapper .mission-image.flex-4 {
    flex: 4;
}
.mission-cards__wrapper .mission-image.flex-4:before {
    opacity: 0;
}


.mission-content>div {
    display: none;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.mission-content>.active-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.mission-content {
    padding: 20px;
    width: 700px;
    color: #333;
}

.mission-content .main-heading {
    color: #2c3e50;
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.mission-content .sub-heading {
    line-height: 1.3;
    color: #555;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.active-content .main-heading,
.active-content .sub-heading {
    opacity: 1;
    animation: slideUp 0.6s ease-in-out;
}

/* Smooth slide-up animation */
@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* ---- rresponsiveness --- */

@media screen and (max-width: 768px) {
    .mission-gallery {
        width: 100%;
    }
    
    .mission__wrapper {
        flex-direction: column-reverse;
    }

    .mission-cards__wrapper {
        flex-direction: column;
    }

    .mission-image {
        width: 100%;
    }

    .mission-content {
        width: 100%;
    }

    .mission-cards__wrapper .mission-image span {
        transform: rotate(0);
    }

    .mission-cards__wrapper .mission-image.flex-4 span {
        transform: translateX(100%);
        opacity: 0;
    }
}