/* From Uiverse.io by barisdogansutcu */
.loader-svg {
    position: absolute;
    width: 15px;
    transform-origin: center;
    animation: rotate4 1s linear infinite;
}

.loader-circle {
    fill: none;
    stroke: hsl(0, 0%, 0%);
    stroke-width: 4;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}