/* From Uiverse.io by suleymanlaarabidev */ 
.procedure-card {
    width: 330px;
    height: 400px;
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 10px 10px 3px  rgba(0, 0, 0, 0.397);
    position: relative; 
    overflow: hidden;
  }
  
  .procedure-card::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    filter: brightness(70%);
    transition: filter 0.3s ease-in-out;
  }

  .consult-image::before{
    background-image: url('../pages/about/images/consultation.png');
  }

  .strategy-image::before{
    background-image: url('../pages/about/images/strategy-planning.png');
  }

  .docs-image::before{
    background-image: url('../pages/about/images/docss.png');
  }

  .done-image::before{
    background-image: url('../pages/about/images/success.png');
  }

  .procedure-card:hover {
    border-radius: 15px;
    cursor: pointer;
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.395);
  }
  
  .procedure-first-content {
    height: 100%;
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    display: flex;
    background: transparent;
    justify-content: center;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    opacity: 1;
    font-size: 0.8em;
    font-weight: 200;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    text-shadow: 0px 0px 10px black;
    border-radius: 15px;
    transform: translateY(0);
    transition: opacity 0.3s ease-in-out;
  }
  .consult-image span, .docs-image span{
    padding-top: 170px;
  }
  .strategy-image span{
    padding-top: 50px;
  }

  .procedure-card:hover .procedure-first-content {
    opacity: 0;
    display: none;
  }
  
  .procedure-second-content {
    height: 100%;
    position: absolute;
    width: 100%;
    transition: all 0.4s;
    text-align: left;
    opacity: 1;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    box-sizing: border-box;
    border-radius: 15px;
    font-weight: 200;
    font-size: 1em;
    z-index: 4;
    /* transform: scale(-1); */
  }

  .procedure-card:hover::before{
    filter: brightness(25%);
  }
  /* ---- rresponsiveness --- */

@media (min-width: 1440px) and (max-width: 2559px){
  .procedure-card{
    width: 270px;
    height: 390px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px){
  .procedure-card{
    width: 230px;
    height: 300px;
    font-size: 1.2em;
  }
}

@media (min-width: 768px) and (max-width: 1023px){
  .procedure-card{
    width: 200px;
    height: 270px;
    font-size: 1.2em;
  }
  .procedure-second-content{
    font-size: 0.8em;
  }
}

@media (min-width: 425px) and (max-width: 767px){
  .procedure-card{
    width: 180px;
    height: 270px;
    font-size: 1.2em;
    box-shadow: 0px 10px 3px  rgba(0, 0, 0, 0.397);
  }
  .procedure-card:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
  }
  .procedure-second-content{
    font-size: 0.8em;
  }
}

@media (min-width: 375px) and (max-width: 424px){
  .procedure-card{
    width: 160px;
    height: 270px;
    font-size: 1.2em;
    box-shadow: 0px 10px 3px  rgba(0, 0, 0, 0.397);
  }
  .procedure-card:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
  }
  .procedure-second-content{
    font-size: 0.7em;
  }
}

@media (max-width: 374px){
  .procedure-card{
    width: 80%;
    height: 270px;
    font-size: 1.2em;
    box-shadow: 0px 10px 3px  rgba(0, 0, 0, 0.397);
  }
  .procedure-card:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
  }
  .procedure-second-content{
    font-size: 0.8em;
  }
}
  