.procedure-card {
  width: 100%;
  height: 400px;
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.397);
  position: relative;
  overflow: hidden;
}

.procedure-card::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  filter: brightness(70%);
  transition: filter 0.3s ease-in-out;
}

.consult-image::before {
  background-image: url('../pages/about/images/consultation.png');
}
.strategy-image::before {
  background-image: url('../pages/about/images/strategy-planning.png');
}
.docs-image::before {
  background-image: url('../pages/about/images/docss.png');
}
.done-image::before {
  background-image: url('../pages/about/images/success.png');
}

.procedure-card:hover {
  border-radius: 15px;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.395);
}

.procedure-first-content {
  height: 100%;
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  display: flex;
  background: transparent;
  justify-content: center;
  align-items: flex-start;
  color: white;
  letter-spacing: 1px;
  text-align: center;
  opacity: 1;
  box-sizing: border-box;
  text-shadow: 0px 0px 10px black;
  border-radius: 15px;
  transform: translateY(0);
  transition: opacity 0.3s ease-in-out;
}
.procedure-card.strategy-image .procedure-first-content {
  align-items: center;
}
.procedure-card.done-image .procedure-first-content {
  align-items: center;
}

.procedure-card:hover .procedure-first-content {
  opacity: 0;
  display: none;
}

.procedure-second-content {
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  transition: all 0.4s;
  text-align: left;
  opacity: 1;
  padding: 20px;
  color: white;
  box-sizing: border-box;
  border-radius: 15px;
  z-index: 4;
}

.procedure-card:hover::before {
  filter: brightness(25%);
}

/* ---- rresponsiveness --- */

@media screen and (max-width: 768px) {
  .procedure-second-content {
    align-items: center;
  }
}