.social-tooltips-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}

.social-tooltips-container .tooltip-container {
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 10px;
}

.social-tooltips-container .tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    max-width: 250px;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: top 0.2s ease-out, opacity 0.2s ease-out;
    border-radius: 15px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

.social-tooltips-container .fb-profile {
    background: #3b5998;
    border-radius: 10px 15px;
    padding: 10px;
    border: 1px solid #29487d;
}


.social-tooltips-container .tooltip-container:hover .tooltip {
    top: -150px;
    opacity: 1;
    visibility: visible;
}

.social-tooltips-container .icon {
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
}

.social-tooltips-container .layer {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    transition: transform 0.3s, border 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.social-tooltips-container .icon:hover .layer {
    transform: rotate(-35deg) skew(20deg);
    box-shadow: 0 0 30px rgba(24, 119, 242, 1);
}

.social-tooltips-container .layer span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: all 0.3s;
}

.social-tooltips-container svg {
    width: 20px;
    height: auto;
}

.social-tooltips-container .layer span {
    color: #1877f2;
    border-color: #1877f2;
}

.social-tooltips-container #fb-text {
    color: #1877f2;
}


.social-tooltips-container .icon:hover .layer span {
    box-shadow: -1px 1px 3px #1877f2;
}

.social-tooltips-container .icon .text {
    position: absolute;
    left: 50%;
    bottom: -5px;
    opacity: 0;
    transform: translateX(-50%);
    transition: bottom 0.3s ease, opacity 0.3s ease;
}


.social-tooltips-container .icon:hover .text {
    bottom: -25px;
    opacity: 1;
}

.social-tooltips-container .icon:hover .layer span:nth-child(1) {
    opacity: 0.2;
}

.social-tooltips-container .icon:hover .layer span:nth-child(2) {
    opacity: 0.4;
    transform: translate(5px, -5px);
}

.social-tooltips-container .icon:hover .layer span:nth-child(3) {
    opacity: 0.6;
    transform: translate(10px, -10px);
}

.social-tooltips-container .icon:hover .layer span:nth-child(4) {
    opacity: 0.8;
    transform: translate(15px, -15px);
}

.social-tooltips-container .icon:hover .layer span:nth-child(5) {
    opacity: 1;
    transform: translate(20px, -20px);
}

.social-tooltips-container .facebookSVG {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1877f2;
    border-radius: 50%;
    background: linear-gradient(45deg,
            #1877f2 0%,
            #3b5998 25%,
            #1877f2 50%,
            #3b5998 75%,
            #1877f2 100%);
}

.social-tooltips-container .user {
    display: flex;
    gap: 10px;
}

.social-tooltips-container .img {
    height: 35px;
    max-width: fit-content;
    border: 1px solid #1877f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}
.social-tooltips-container .img img{
    width: 35px;
}


.social-tooltips-container .details {
    display: flex;
    line-height: 1.2;
    flex-direction: column;
    gap: 0;
    color: #fff;
}

.social-tooltips-container .about {
    color: white;
    padding-top: 5px;
}



/* linkedin */


.social-tooltips-container .li-profile {
    background: #2a2b2f;
    border-radius: 10px 15px;
    padding: 10px;
    border: 1px solid rgba(11, 63, 95, 1);
}


.social-tooltips-container .layer span.fab {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #1da1f2;
    background: #000;
}


.social-tooltips-container .linkedin-name {
    color: #1da1f2;
}

.social-tooltips-container #linkedin-text {
    color: #1da1f2;
}



/* insgta */


.social-tooltips-container .insta-profile {
    background: linear-gradient(130deg, #dc6dbd, #de863a);

    border-radius: 10px 15px;
    padding: 10px;
    border: 1px solid #52382f;
}

.social-tooltips-container .icon:hover .insta-layer {
    transform: rotate(-35deg) skew(20deg);
    box-shadow: 0 0 30px #e6683c;
}

.social-tooltips-container .insta-layer span,
.social-tooltips-container .text {
    color: #e6683c;
    border-color: #e6683c;
}

.social-tooltips-container .icon:hover.insta-layer span {
    box-shadow: -1px 1px 3px #e6683c;
}

.social-tooltips-container .instagramSVG {
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%);
    background: linear-gradient(45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.social-tooltips-container .insta-img {
    border: 1px solid #e6683c;
}

.social-tooltips-container .insta-name {
    color: white;
}

.social-tooltips-container .insta-username {
    color: white;
}

.social-tooltips-container #insta-text {
    color: #e6683c;
}


.insta-name {
    color: white;
}

.insta-username {
    color: white;
}

#insta-text {
    color: #e6683c;
}

/* responsiveness */

@media screen and (max-width: 768px) {
    .social-tooltips-container {
        flex-direction: column;
        align-items: center;
    }

    .social-tooltips-container .tooltip {
        top: 0;
        left: -100%;
    }

    .social-tooltips-container .layer {
        width: 40px;
        height: 40px;
    }

    .social-tooltips-container .tooltip-container:hover .tooltip {
        top: -120px;
    }
    .social-tooltips-container .icon:hover .text {
        bottom: -15px;
    }

}