/* From Uiverse.io by mRcOol7 */

/* facebook */
.social-tooltips-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

.tooltip-container {
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 17px;
    border-radius: 10px;
}

/* .facebook-container{
    width: 58px;
    height: 40px;
  }
   */
.tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    opacity: 0;
    width: 200px;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 15px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

.fb-profile {
    background: #3b5998;
    border-radius: 10px 15px;
    padding: 10px;
    border: 1px solid #29487d;
}

.username{
    font-size: 12px;
}

.tooltip-container:hover .tooltip {
    top: -150px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.icon {
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
}

.layer {
    width: 55px;
    height: 55px;
    /* border: 3px solid #1877f2; */
    border-radius: 50%;
    transition: transform 0.3s, border 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.icon:hover .layer {
    transform: rotate(-35deg) skew(20deg);
    box-shadow: 0 0 30px rgba(24, 119, 242, 1);
}

.layer span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: all 0.3s;
}

.layer span {
    color: #1877f2;
    border-color: #1877f2;
}

#fb-text{
    color: #1877f2;
}


.icon:hover .layer span {
    box-shadow: -1px 1px 3px #1877f2;
}

.icon .text {
    position: absolute;
    left: 50%;
    bottom: -5px;
    opacity: 0;
    font-weight: 500;
    transform: translateX(-50%);
    transition: bottom 0.3s ease, opacity 0.3s ease;
}


.icon:hover .text {
    bottom: -25px;
    opacity: 1;
}

.icon:hover .layer span:nth-child(1) {
    opacity: 0.2;
}

.icon:hover .layer span:nth-child(2) {
    opacity: 0.4;
    transform: translate(5px, -5px);
}

.icon:hover .layer span:nth-child(3) {
    opacity: 0.6;
    transform: translate(10px, -10px);
}

.icon:hover .layer span:nth-child(4) {
    opacity: 0.8;
    transform: translate(15px, -15px);
}

.icon:hover .layer span:nth-child(5) {
    opacity: 1;
    transform: translate(20px, -20px);
}

.facebookSVG {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1877f2;
    border-radius: 50%;
    background: linear-gradient(45deg,
            #1877f2 0%,
            #3b5998 25%,
            #1877f2 50%,
            #3b5998 75%,
            #1877f2 100%);
}

.user {
    display: flex;
    gap: 10px;
}

.img {
    width: 50px;
    height: 40px;
    border: 1px solid #1877f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.name {
    font-size: 17px;
    font-weight: 700;
    color: #1877f2;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 0;
    color: #fff;
}

.about {
    color: #ccc;
    padding-top: 5px;
}



/* linkedin */


.li-profile {
    background: #2a2b2f;
    border-radius: 10px 15px;
    padding: 10px;
    border: 1px solid rgba(11, 63, 95, 1);
}


.layer {
    width: 55px;
    height: 55px;
    transition: transform 0.3s;
}

.icon:hover .layer {
    transform: rotate(-35deg) skew(20deg);
}



.layer span.fab {
    font-size: 30px;
    line-height: 64px;
    text-align: center;
    fill: #1da1f2;
    background: #000;
}


.linkedin-name {
    font-size: 17px;
    font-weight: 700;
    color: #1da1f2;
}

#linkedin-text{
    color: #1da1f2;
}



/* insgta */


.insta-profile {
    background: linear-gradient(130deg, #dc6dbd, #de863a);

    border-radius: 10px 15px;
    padding: 10px;
    border: 1px solid #52382f;
}

.layer {
    width: 55px;
    height: 55px;
    transition: transform 0.3s;
}

.icon:hover .insta-layer {
    transform: rotate(-35deg) skew(20deg);
    box-shadow: 0 0 30px #e6683c;
}

.insta-layer span,
.text {
    color: #e6683c;
    border-color: #e6683c;
}

.icon:hover.insta-layer span {
    box-shadow: -1px 1px 3px #e6683c;
}

.instagramSVG {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%);
    background: linear-gradient(45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.insta-img {
    border: 1px solid #e6683c;
}

.insta-name {
    font-size: 17px;
    font-weight: 700;
    color: white;
}

.insta-username{
    color: white;
}

#insta-text{
    color: #e6683c;
}

/*  laptop medium size */

@media (min-width: 1024px) and (max-width: 1439px){
    .social-tooltips-container{
        flex-direction: column;
        width: 100%;
        gap: 40px;
    }
    .tooltip{
        top: -20px;
    }
    .tooltip-container:hover .tooltip {
        top: -20px;
        left: -160px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .layer{
        width: 45px;
        height: 45px;
    }
}

/*  tablet size */

@media (min-width: 768px) and (max-width: 1023px){
    .layer span.fab {
        font-size: 25px;
        line-height: 53px;
    }
    .instagramSVG{
        font-size: 21px;
    }
    .social-tooltips-container{
        flex-direction: column;
        width: 100%;
        gap: 40px;
    }
    .tooltip{
        top: -20px;
    }
    .tooltip-container:hover .tooltip {
        top: -20px;
        left: -160px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .layer{
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 425px) and (max-width: 767px){
    .social-tooltips-container{
        gap: 10px;
    }
    .layer{
        width: 40px;
        height: 40px;
    }
    .layer span.fab {
        font-size: 25px;
        line-height: 53px;
    }
    .instagramSVG{
        font-size: 21px;
    }
    .icon:hover .text{
        bottom: -25px;
    }
}
  
@media (min-width: 375px) and (max-width: 424px){
    .social-tooltips-container{
        gap: 10px;
    }
    .layer{
        width: 40px;
        height: 40px;
    }
    .layer span.fab {
        font-size: 25px;
        line-height: 53px;
    }
    .instagramSVG{
        font-size: 21px;
    }
    .icon:hover .text{
        bottom: -25px;
    }
}


@media (max-width: 374px){
    .social-tooltips-container{
        gap: 10px;
    }
    .layer{
        width: 30px;
        height: 30px;
    }
    .layer span.fab {
        font-size: 20px;
        line-height: 40px;
    }
    .instagramSVG{
        font-size: 16px;
    }
    .icon:hover .text{
        bottom: -25px;
    }
}
