.footer-section {
  position: relative;
  color: white;
}

.footer-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
}

.footer-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
    url('../footer/images/logo-left-side.png'),
    url('../footer/images/logo-middle-side.png'),
    url('../footer/images/logo-right-side.png');
  background-size: clamp(100px, 20%, 150px) auto;
  filter: invert(1);
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position:
    left center,
    center center,
    right center;
  z-index: -1;
}


.footer-upper-row__wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding: 30px 0;
  gap: 40px;
  justify-content: space-between;
}

.footer-section .main-heading {
  border-bottom: 2px solid white;
  padding-bottom: 8px;
  margin-bottom: 12px;
}


.footer-section p {
  padding-right: 30px;
}

.useful-links ul {
  list-style-type: none;
  padding: 0;
}

.useful-links li {
  padding-bottom: 5px;
}

.useful-links li a {
  text-decoration: none;
  color: white;
  position: relative;
}

.useful-links li a:before {
  content: '';
  position: absolute;
  width: 0;
  bottom: -1px;
  transform-origin: left;
  height: 1px;
  background-color: white;
  transition: width 0.25s ease-in-out;
}

.useful-links li a:hover:before {
  width: 100%;


}

.footer-contact-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer-contact-list li {
  margin-bottom: 5px;
}
.footer-contact-list li a {
  text-decoration: none;
  color: white;
}
.footer-contact-list li svg {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  transition: transform 0.2s ease-in-out;
}
.footer-contact-list li:hover svg {
  transform: translateY(-2px);
}


.footer-bottom {
  text-align: center;
  padding: 25px;
  border-top: 1px solid #444;
}

.footer-bottom p {
  margin: 0;
}

.whatsapp-footer a {
  text-decoration: none;
  color: white;
}

.whatsapp-message {
  margin: 2px 0 0;
}

/* responsiveness */

@media screen and (max-width: 768px) {
  .footer-upper-row__wrapper {
    grid-template-columns: 1fr;
    gap: 10px;
    text-align: center;
  }
}