.contact-page {
  padding: 3rem 0;
  position: relative;
}

.contact-page .main-heading {
  text-align: center;
  animation: slideUp 0.5s ease-out forwards;
}

.contact-section__wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 2rem;
  color: #333;
  padding-top: 2rem;
  padding-bottom: 2rem;
  animation: slideUp 0.6s ease-out forwards;
}

.appointment-schedule__container {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
}

.appointment-schedule__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
  height: 90%;
  padding: 2rem;
}

.appointment-schedule__container .main-heading {
  color: #3a86ff;
  margin-bottom: 15px;
  text-align: left;
}

.appointment-schedule__container .sub-heading {
  line-height: 1.5;
  color: #555;
}

.appointment-schedule__container .appointment-guidance {
  list-style-type: disc;
  color: #444;
  padding-inline-start: 1rem;
  line-height: 1.6;
}


.contact-form__container {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.contact-form__container .main-heading {
  color: #2e5c9a;
  text-align: center;
  margin-bottom: 20px;
}

.contact-form__container .contact-form {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 2rem;
}

.contact-form__container .contact-form label {
  color: #333;
  margin-bottom: 5px;
  display: block;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  position: relative;
  padding: 8px 11px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: border-color 0.3s ease;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form select:focus {
  border-color: #2e5c9a;
  outline: none;
  background-color: #ffffff;
}

.contact-form__container .dateAndTime {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.contact-form__container .dateAndTime div {
  flex: 1;
}
.contact-form__container .dateAndTime input[type="time"] {
  padding-top: 5px;
}


.contact-form textarea {
  height: 150px;
  resize: both;
}

.contact-form__container .submit-btn {
  display: flex;
  justify-content: center;
}

.contact-form__container .error-text {
  color: red;
  font-size: 12px;
  visibility: hidden;
  height: 14px;
  margin: 4px 0 0;
}

.contact-form__container .error-text:empty {
  visibility: hidden;
}

.contact-form__container .success-text {
  color: green;
  margin-top: 10px;
}

.contact-form__container .submit-btn button {
  width: 100%;
  padding: 16px;
  background-color: #2e5c9a;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.contact-form__container .submit-btn button:hover {
  background-color: #1c4173;
  transform: translateY(-2px);
}

.contact-form__container .submit-btn button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(46, 92, 154, 0.4);
}

/* Hover Effect for Form Fields */
.contact-form input:hover,
.contact-form textarea:hover,
.contact-form select:hover {
  border-color: #a3c1e1;
}

.contact-form__container input[type="date"], .contact-form__container input[type="time"], .contact-form__container select {
  cursor: pointer;
}

.contact-page .status-message {
  position: absolute;
  bottom: 20%;
  width: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9em;
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px) translateX(-50%);
  transition: all 0.5s ease-in-out;
  text-align: center;
  z-index: 9999;
}

.contact-page .status-message.messageShow {
  visibility: visible;
  opacity: 1;
  transform: translateY(0) translateX(-50%);
}

/* responsiveness */

@media screen and (max-width: 768px) {
  .contact-section__wrapper {
    flex-direction: column;
  }
  .appointment-schedule__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }
  .contact-form__container .dateAndTime {
    flex-direction: column;
    align-items: normal;
    gap: 0;
  }
  .contact-form__container .contact-form {
    padding: 0 1rem 2rem;
  }
}