.services-overview__container {
    text-align: center;
    padding: 50px 0;
}

.services-overview__container h2 {
    color: black;
    margin: 0;
    margin-bottom: 3.5rem;
}

.services-grid {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    animation: slideUp 2s;
}

.middle-one{
    transform: scaleY(1.1);
} 

/*  responsiveness */

@media screen and (max-width: 768px) {
    .services-grid {
        flex-direction: column;
        align-items: center;
    }
    .middle-one {
        transform: scaleY(1);
    }
}