.header-container {
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(151, 151, 151, 0.313);
}

.header__home.header-container {
  margin-bottom: -105px;
  z-index: 1;
  border-bottom: none;
}

.navbar__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header-logo-container {
  display: block;
  width: 100px;
  height: auto;
}

.header-logo-container .logo {
  width: 100%;
}

.navbar-brand a {
  text-decoration: none;
}

.navbar-brand {
  font-size: clamp(1.2rem, 3vw, 2rem);
  letter-spacing: 2px;
  padding-left: 4rem;
  text-align: center;
  color: black;
  font-family: var(--font-navbrand);
  text-decoration: none;
}
.header-container.header__home .navbar-brand {
  color: white;
}

.hamburger-menu {
  width: 20px;
  height: 14px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
}

.hamburger-menu span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: 0.3s ease-in-out;
}

.hamburger--home span {
  background-color: white;
}


.navbar-list {
  display: flex;
  gap: 12px;
  padding: 0;
  list-style: none;
}

.header-container .navbar-list .nav-item {
  text-decoration: none;
  color: black;
}
.header__home.header-container .navbar-list .nav-item {
  color: white;
}


.services-dropdown {
  position: relative;
  cursor: pointer;
}

.header-container .dropdown-trigger {
  display: flex;
  gap: 3px;
}

.header-container .dropdown-trigger .arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}
.header-container .dropdown-trigger .arrow svg {
  width: 1rem;
}

.header-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
  opacity: 0;
  width: clamp(11rem, 15vw, 14rem);
  gap: 10px;
  list-style-type: none;
  padding: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.header-container.header__home .header-dropdown-menu {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
}

.services-dropdown:hover .dropdown-trigger .arrow {
  transform: scale(-1);
}

.services-dropdown:hover .header-dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


.header-dropdown-menu .nav-item {
  padding: 0.7rem 0.5rem;
  text-align: left;
  text-decoration: none;
  color: black;
  position: relative;
  border-bottom: 1px solid black;
  display: block;
  transition: text-shadow 0.2s ease-in-out;
}
.header__home.header-container .header-dropdown-menu .nav-item
{
  color: white;
  border-bottom: 1px solid white;
}
.header-dropdown-menu .nav-item:before {
  content: '';
  position: absolute;
  bottom: 7px;
  left: 7px;
  width: 0;
  transform-origin: left;
  background-color: black;
  height: 1px;
  transition: width 0.3s ease-in-out;
}
.header-container.header__home .header-dropdown-menu .nav-item:before {
  background-color: white;
}

.header-dropdown-menu .nav-item:hover:before {
  width: 85%;
}
.header-dropdown-menu .nav-item:hover {
  text-shadow: 0 0 5px white;
}


/* responsiveness */

@media screen and (max-width: 768px) {
  .navbar-list {
    display: none;
  }
  .header-logo-container {
    width: 80px;
  }
  .hamburger-menu {
    display: flex;
  }

  .navbar-list.active {
    display: flex;
  }
  .navbar-brand {
    display: none;
  }
}