.hero-section {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px black;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/space.jpg');
    background-size: cover;
    animation: zoom-out 6s;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(50%) !important;
}

@keyframes zoom-out {
    0% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.hero-section__wrapper {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 8rem;
}

.hero-section__wrapper .content {
    text-align: left;
    color: white;
    position: relative;
}

.hero-section .content .main-heading {
    margin-top: 0;
    text-align: left;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 10px;
}

/* .plane-image {
    z-index: 0;
} */

.content p {
    animation: fadeIn 3.5s;
    opacity: 1;
    margin: 0;
}

@keyframes fly {
    0% {
        transform: rotate(0deg);
        transform: translateX(500px) translateY(600px);
    }

    100% {
        transform: translateX(0) translateY(0);
        transform: rotate(15deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.plane-image img {
    width: 350px;
    height: 350px;
    animation: fly 3.5s 1;
    transform: rotate(15deg);
    filter: brightness(75%);
    /* Adjust brightness for the image */
}

.appointment-container {
    position: relative;
    display: inline-block;
    padding-top: 50px;
}


.book-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    position: relative;
    display: inline-block;
    font-weight: 100;
    padding: 0 20px;
    height: 35px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s, color 0.3s;
}

.book-button-text {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.button-text-gone {
    opacity: 0;
}

.loader-container {
    left: 45%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.loading-start {
    opacity: 1;
}

.loading-start-submit {
    opacity: 1;
    left: 50%;
}

.loading-start-submit .loader-circle {
    stroke: white;
}

.hero-section .email-input {
    position: absolute;
    left: 0;
    opacity: 0;
    width: 285px;
    box-sizing: border-box;
    height: 34px;
    padding: 0 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    transition: all 0.3s ease;
}

.hero-section .email-input::placeholder {
    color: rgba(255, 255, 255, 0.785);
}

.hero-section .email-input:valid {
    border-color: white;
    transition: 0.2s ease-in-out;
}

.hero-section .email-input:invalid {
    border-color: red;
    transition: 0.2s ease-in-out;
}

/* Styling for the message box */
.hero-section .message-box {
    position: absolute;
    bottom: 10%;
    width: 25%;
    left: 50%;
    transform: translateY(20px) translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    z-index: 3;
}

.hero-section .message-box.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(-30px) translateX(-50%);
}

.hero-section .message-box.hide {
    visibility: hidden;
    opacity: 0;
    transform: translateY(0) translateX(-50%);
}

.hero-section .appointment-container:hover .email-input {
    left: 0px;
    opacity: 1;
}

.hero-section .email-input:focus {
    outline: none;
}

.hero-section .appointment-container:hover .book-button {
    transform: translateX(280px);
    background-color: white;
    color: black;
}

/*  responsiveness */
@media screen and (max-width: 768px) {
    .hero-section__wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 9rem;
        gap: 2rem;
        margin-bottom: 3rem;
    }

    .hero-section__wrapper .content {
        margin-bottom: 20px;
        text-align: center;
    }

    .hero-section .content .main-heading {
        text-align: center;
    }

    .plane-image img {
        width: 200px;
        height: 200px;
    }

    .appointment-container {
        padding-top: 20px;
    }

    .book-button {
        width: 100%;
        text-align: center;
    }

    .hero-section .appointment-container:hover .book-button {
        transform: translateY(120%);
    }

    .hero-section .email-input {
        width: 100%;
    }

    .hero-section .message-box {
        width: 75%;
    }
}