.procedure-section{
    width: 100%;
    padding: 100px 0;
    margin: 0;
    background-color: #fafafa;
}

.procedure-section-row{
    width: var(--page-width);
    margin: 0 auto;
    display: flex;
    padding: 30px 30px 0; 
    justify-content: space-evenly;
}

.procedure-heading {
    font-size: 2.5rem;
    font-weight: 500;
    color: #333;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.procedure-desc {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
    text-align: center;
    max-width: 800px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto 40px auto;
    padding: 0 20px;
    border-left: 4px solid #ff5a91;
    border-right: 4px solid #ff5a91;
    background-color: rgb(255, 255, 255);
    padding: 15px 25px;
    border-radius: 8px;
}

/* ---- rresponsiveness --- */

@media (min-width: 1024px) and (max-width: 1439px){
    .procedure-section{
        padding-top: 50px;
    }
    .procedure-section-row{
        width: calc(var(--page-width) - 5%);
        gap: 10px;
    }
    .procedure-heading{
        font-size: 1.7em;
    }
    .procedure-desc{
        font-size: 1.1em;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .procedure-section{
        padding-top: 25px;
        padding-bottom: 40px;
    }
    .procedure-section-row{
        width: calc(var(--page-width) - 30%);
        gap: 30px;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
    }
    .procedure-heading{
        font-size: 1.6em;
    }
    .procedure-desc{
        font-size: 0.9em;
        max-width: 550px;
        margin-bottom: 20px; 
    }
}

@media (min-width: 425px) and (max-width: 767px){
    .procedure-section{
        padding-top: 25px;
        padding-bottom: 40px;
    }
    .procedure-section-row{
        width: 90%;
        gap: 20px;
        padding: 30px 0;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
    }
    .procedure-heading{
        font-size: 1.6em;
    }
    .procedure-desc{
        font-size: 0.9em;
        max-width: 300px;
        margin-bottom: 20px;
    }
}

@media (min-width: 375px) and (max-width: 424px){
    .procedure-section{
        padding-top: 25px;
        padding-bottom: 40px;
    }
    .procedure-section-row{
        width: 91%;
        gap: 13px;
        padding: 30px 0;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
    }
    .procedure-heading{
        font-size: 1.6em;
    }
    .procedure-desc{
        font-size: 0.8em;
        max-width: 270px;
        margin-bottom: 20px;
    }
}

@media (max-width: 374px){
    .procedure-section{
        padding-top: 25px;
        padding-bottom: 40px;
    }
    .procedure-section-row{
        width: 91%;
        gap: 13px;
        padding: 30px 0;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .procedure-heading{
        font-size: 1.6em;
    }
    .procedure-desc{
        font-size: 0.8em;
        max-width: 69%;
        margin-bottom: 20px;
    }
}