.procedure-section{
    width: 100%;
    background-color: #fafafa;
}

.procedure__wrapper {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.procedure-steps__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem 2rem 0;
    gap: 1rem; 
    justify-content: space-evenly;
}

.procedure-section .main-heading {
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.procedure-section .procedure-subheading {
    line-height: 1.5;
    color: #555;
    text-align: center;
    max-width: 800px;
    padding: 0 20px;
    margin: auto;
    border-left: 4px solid #1e6abc;
    border-right: 4px solid #1e6abc;
    background-color: rgb(255, 255, 255);
    padding: 15px 25px;
    border-radius: 8px;
}

/* ---- rresponsiveness --- */

@media screen and (max-width: 768px) {
    .procedure-steps__wrapper {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 0;
    }
}

@media screen and (max-width: 426px) {
    .procedure-steps__wrapper {
        grid-template-columns: 1fr;
    }
}