.faq-whole-section{
  background-color: white;
  width: 100%;
  padding: 50px 0;
}

.faq-section {
    width: var(--page-width); 
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-in-out;
  }
  
  .faq-section h2 {
    text-align: center; 
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 550;  
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
  } 
  
  .faq-item {
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
    transition: all 0.3s ease;
  }
  
  .faq-item:last-child {
    border-bottom: none;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 18px; 
    color: #007bff;
    transition: all 0.3s ease;
  }
  .faq-question h3{
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .faq-question:hover {
    color: #0056b3;
  }
  
  .faq-arrow {
    font-size: 24px;
    transition: all 0.3s ease;
  }
  
  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    font-size: 16px;
    color: #666;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 0;
    opacity: 0;
  }
  
  .faq-answer.active {
    max-height: 300px; /* Adjust based on content */
    opacity: 1;
    padding-top: 10px;
    transition: all 0.2s ease-in-out;
  }
  

  /*  responsieness */


  @media (min-width: 1024px) and (max-width: 1439px){
    .faq-whole-section{
      padding: 25px 0;
    }
    .faq-question h3{
      margin: 10px 0;
    }

    .faq-section{
      width: calc(var(--page-width) - 10%);
    }
    .faq-item{
      padding: 10px 0;
    }
  }

  
  @media (min-width: 768px) and (max-width: 1023px){
    .faq-whole-section{
      padding: 25px 0;
    }
    .faq-section h2{
      margin-top: 6px;
    }
    .faq-question h3{
      margin: 6px 0;
    }

    .faq-section{
      width: calc(var(--page-width) - 10%);
    }
    .faq-item{
      padding: 10px 0;
    }
    .faq-question{
      font-size: 12px;
    }
    .faq-answer{
      font-size: 12px;
    }
  }

  @media (min-width: 425px) and (max-width: 767px){
    .faq-whole-section{
      padding: 25px 0;
    }
    .faq-arrow{
      font-size: 16px;
      padding: 0 10px;
    }
    .faq-section h2{
      margin-top: 6px;
    }
    .faq-question h3{
      margin: 6px 0;
    }

    .faq-section{
      width: calc(var(--page-width) - 10%);
    } 
    .faq-item{
      padding: 10px 0;
    }
    .faq-question{
      font-size: 12px;
    }
    .faq-answer{
      font-size: 12px;
    }
  }

  /* mobile medium  */
  
  @media (min-width: 375px) and (max-width: 424px){
    .faq-whole-section{
      padding: 25px 0;
    }
    .faq-arrow{
      font-size: 16px;  
      padding: 0 10px;
    }
    .faq-section h2{
      margin-top: 6px;
    }
    .faq-question h3{
      margin: 6px 0;
    }

    .faq-section{
      width: calc(var(--page-width) - 10%);
    } 
    .faq-item{
      padding: 10px 0;
    }
    .faq-question{
      font-size: 12px;
    }
    .faq-answer{
      font-size: 12px;
    }
  }


    /* mobile medium  */
  
    @media (max-width: 374px){
      .faq-whole-section{
        padding: 25px 0;
      }
      .faq-arrow{
        font-size: 1.3em;  
        padding: 0 10px;
      }
      .faq-section h2{
        margin-bottom: 10px;
        font-size: 1.4em;
        margin-top: 6px;
      }
      .faq-question h3{
        margin: 6px 0;
      }
  
      .faq-section{
        width: calc(var(--page-width) - 10%);
      } 
      .faq-item{
        padding: 10px 0;
      }
      .faq-question{
        font-size: 0.7em;
      }
      .faq-answer{
        font-size: 0.7em;
      }
    }
  

