.faq-section {
  background-color: white;
  padding: 50px 0;
}

.faq-section .main-heading {
  margin-top: 0;
  text-align: center;
}

.faq-section__wrapper {
  border-radius: 10px;
  padding-top: 0.8rem;
  transition: 0.2s ease-in-out;
}

.faq-section__wrapper h2 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 550;
  color: #333;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 10px;
  transition: all 0.3s ease;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.faq-item:last-child {
  margin-bottom: 0;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: black;
  transition: all 0.3s ease;
}

.faq-section__wrapper .faq-question h3 {
  font-weight: 400;
  margin: 0;
}

.faq-arrow {
  font-size: 24px;
  transition: all 0.3s ease;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  color: #666;
  padding-top: 0;
  opacity: 0;
}

.faq-answer.active {
  max-height: 300px;
  opacity: 1;
  padding-top: 10px;
  transition: all 0.2s ease-in-out;
}