.services-page {
    width: 100%;
}

.services-page-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f3f8fc;
    border-radius: 20px 20px 40% 40%;
    padding: 6% 0 2%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 70px;
}

.services-container {
    color: #333;
    text-align: center;
    width: var(--page-width);
    margin: 0 auto;
    padding: 0 30px;
    transform: translateY(30px);
    opacity: 0;
    animation: slideUp 0.8s ease-out forwards;
}


.services-container h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0056b3;
}

.services-container p {
    font-size: 1rem;
    font-family: var(--font-desc);
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: #555;
}

@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.services-page-row{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


@media (min-width: 1024px) and (max-width: 1439px){
    .services-page-section{
        padding: 8% 0 5%;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .services-page-section{
        padding: 8% 0 4%;
    }
    .services-container{
        width: calc(var(--page-width) - 5% );
    }
    .services-container h2{
        font-size: 1.6em;
    }
    .services-container p{
        font-size: 0.8em;
    }
}

@media (min-width: 425px) and (max-width: 767px){
    .services-page-section{
        padding: 12% 0 10%;
        border-radius: 20px 20px 50% 50%;
    }
    .services-container{
        width: calc(var(--page-width) - 3% );
    }
    .services-container h2{
        font-size: 1.6em;
    }
    .services-container p{
        font-size: 0.8em;
    }
}

@media (min-width: 375px) and (max-width: 424px){
    .services-page-section{
        padding: 15% 0 11%;
        border-radius: 20px 20px 25% 25%;
        margin-bottom: 50px;
    }
    .services-container{
        width: calc(var(--page-width) - 5% );
    }
    .services-container h2{
        font-size: 1.6em;
    }
    .services-container p{
        font-size: 0.7em;
    }
}

@media (max-width: 374px){
    .services-page-section{
        padding: 15% 0 11%;
        border-radius: 20px 20px 25% 25%;
        margin-bottom: 50px;
    }
    .services-container{
        width: calc(var(--page-width) - 5% );
    }
    .services-container h2{
        font-size: 1.6em;
    }
    .services-container p{
        font-size: 0.7em;
    }
}
