.about-us-page {
    width: 100%;
}

.about-us-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    background-color: #f3f8fc;
    border-radius: 20px 20px 50% 50%;
    padding: 6% 0 3%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 70px;
}

.about-us-container {
    color: #333;
    text-align: center;
    display: flex;
    width: var(--page-width);
    margin: 0 auto;
    padding: 0 30px;

    transform: translateY(30px);
    opacity: 0; 
    animation: slideUp 0.8s ease-out forwards;
}

.about-us-content {
    flex: 50%;
    padding: 0 50px;
}

.about-us-picture {
    flex: 30%;
    position: relative;
    display: flex;
    z-index: -1;
    justify-content: left;
}

.about-us-pic-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
}

.about-us-pic-round {
    width: 200px;
    height: 200px;
    top: 20px;
    opacity: 0.8;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.411);
    border-radius: 50%;
    z-index: -2;
    position: absolute;
    background-color: #03478f;
}

.picture-ceo {
    width: 50%;
    position: relative;
    z-index: -2;
    filter: brightness(90%);
    border-radius: 10%;
}

.about-us-container h2 {
    font-size: 2rem;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 15px;
    color: #0056b3;
}

.about-us-container p {
    font-size: 0.9rem;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: left;
    color: #555;
    font-family: var(--font-desc);
}



/* ---- rresponsiveness --- */

@media (min-width: 1024px) and (max-width: 1439px) {
    .about-us-section {
        padding: 7% 0 7%;
    }

    .about-us-content {
        flex: 55%;
    }

    .about-us-pic-round {
        top: 30px;
        width: 220px;
        height: 220px;
    }

    .picture-ceo {
        width: 70%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .about-us-section {
        padding: 7% 0 5%;
        border-radius: 20px 20px 30% 30%;
    }

    .about-us-content {
        padding: 0 10px;
    }

    .about-us-container h2 {
        font-size: 1.4em;
    }

    .about-us-container p {
        font-size: 0.8em;
        letter-spacing: 0.5px;
    }

    .about-us-content {
        flex: 55%;
    }

    .about-us-pic-round {
        top: 30px;
        width: 190px;
        height: 190px;
    }

    .picture-ceo {
        width: 70%;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .about-us-section {
        padding: 15% 0 0%;
        border-radius: 20px 20px 30% 30%;
        margin-bottom: 50px;
    }

    .about-us-content {
        padding: 0 10px;
    }

    .about-us-container {
        flex-direction: column;
    }

    .about-us-container h2 {
        font-size: 1.4em;
    }

    .about-us-container p {
        font-size: 0.8em;
        letter-spacing: 0.5px;
    }

    .about-us-content {
        flex: 55%;
    }

    .about-us-pic-wrapper{
        position: relative;
    }
    .about-us-pic-round {
        top: 30px;
        width: 190px;
        height: 190px;
    }

    .picture-ceo {
        width: 50%;
    }
}

@media (min-width: 375px) and (max-width: 424px) {
    .about-us-section {
        padding: 15% 0 0%;
        border-radius: 20px 20px 30% 30%;
        margin-bottom: 50px;
    }

    .about-us-content {
        padding: 0 10px;
    }

    .about-us-container {
        flex-direction: column;
    }

    .about-us-container h2 {
        font-size: 1.4em;
    }

    .about-us-container p {
        font-size: 0.8em;
        letter-spacing: 0.5px;
    }
    .about-us-content {
        flex: 55%;
    }

    .about-us-pic-wrapper{
        position: relative;
    }
    .about-us-pic-round {
        top: 30px;
        width: 190px;
        height: 190px;
    }

    .picture-ceo {
        width: 50%;
    }
}

@media (max-width: 374px) {
    .about-us-section {
        padding: 15% 0 0%;
        border-radius: 20px 20px 30% 30%;
        margin-bottom: 50px;
    }

    .about-us-content {
        padding: 0 10px;
    }

    .about-us-container {
        flex-direction: column;
    }

    .about-us-container h2 {
        font-size: 1.4em;
    }

    .about-us-container p {
        font-size: 0.8em;
        letter-spacing: 0.5px;
    }
    .about-us-content {
        flex: 55%;
    }

    .about-us-pic-wrapper{
        position: relative;
    }
    .about-us-pic-round {
        top: 30px;
        width: 190px;
        height: 190px;
    }

    .picture-ceo {
        width: 60%;
    }
}