.about-us__section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    background-color: #f3f8fc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-us__wrapper {
    color: #333;
    text-align: center;
    display: flex;
    transform: translateY(30px);
    opacity: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    animation: slideUp 0.8s ease-out forwards;
}

.about-us-content {
    flex: 50%;
    padding: 0 3rem;
}

.about-us-picture {
    flex: 30%;
    position: relative;
    display: flex;
    z-index: -1;
    justify-content: left;
}

.about-us-pic-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
}

.about-us-pic-round {
    width: 200px;
    height: 200px;
    top: 20px;
    opacity: 0.8;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.411);
    border-radius: 50%;
    z-index: -2;
    position: absolute;
    background-color: #03478f;
}

.picture-ceo {
    width: 50%;
    position: relative;
    z-index: -2;
    filter: brightness(90%);
    border-radius: 10%;
}

.about-us__wrapper .main-heading {
    margin-bottom: 15px;
    color: #0056b3;
}

.about-us__wrapper .sub-heading {
    letter-spacing: 0.5px;
    line-height: 1.2;
    text-align: left;
    color: #555;
}

/* ---- rresponsiveness --- */

@media screen and (max-width: 768px) {
    .about-us-content {
        padding: 0;
    }
}